<body>

  <body>
  

    <nav class="navbar navbar-expand-sm navbar-body-color bg-body-color">
      <img src="\assets\hhc.jpg" class="hhclogo" alt="">
      <h1 class="helping"><span style="color: rgb(231, 40, 180);">HELPING</span></h1>
      <h1 class="hands"><span style="color: yellow;">HANDS</span></h1>&nbsp;
      <h1 class="club"><span style="color: yellow;">CLUB</span></h1>
    
      
      
      <button class="button" routerLink="home" (click)="onHomeClick()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-heart" viewBox="0 0 16 16">
          <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.309 8 6.982Z"/>
          <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.707L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.646a.5.5 0 0 0 .708-.707L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
        </svg>&nbsp;HOME</button>&nbsp;&nbsp;&nbsp;&nbsp;
    
    
      <button class="button2" routerLink="ourmission" (click)="onOurmissionClick()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
          <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
        </svg>&nbsp;&nbsp;OUR MISSION</button>&nbsp;&nbsp;&nbsp;&nbsp;
    
    
      <button class="button3" (click)="onGalleryClick()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
          <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"/>
          <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
        </svg>&nbsp;&nbsp;GALLERY</button>&nbsp;&nbsp;&nbsp;&nbsp;
    
    
      <button class="button4" (click)="onContactusClick()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
          <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
        </svg>&nbsp;&nbsp;CONTACT US</button>


        <button class="button9" (click)="onloClick()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-closed" viewBox="0 0 16 16">
          <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"/>
          <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
        </svg>&nbsp;&nbsp;LOGOUT</button>
    
    
    
        
    
      <div class="dropdown">
          <button class="button5 dropdown dropdown-toggle money" type="button" data-bs-toggle="dropdown" aria-expanded="false"  style="color: aliceblue;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-c-circle" viewBox="0 0 16 16">
            <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z"/>
          </svg>
              CHARITY DETAILS
          </button>
          <ul class=" d1 dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item active" routerLink="cinsert" (click)="onCiClick()">INSERT DATA</a></li>
            <li><a class="dropdown-item"  routerLink="cread" (click)="onCrClick()">CHARITIES DATA</a></li>
            <li><a class="dropdown-item"  routerLink="cupdate" (click)="onCuClick()">UPDATE DATA</a></li>
            <li><a class="dropdown-item"  routerLink="cdelete" (click)="onCdClick()">DELETE DATA</a></li>
            
          </ul>
      </div>
    
    
    
      <div class="dropdown">
        <button class="button6 dropdown dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: aliceblue;" >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
            <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
          </svg>&nbsp;&nbsp;MONEY DONATION
        </button>
        <ul class=" d2 dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item active" href="" routerLink="m_insert" (click)="onMiClick()">DONATE MONEY</a></li>
            <li><a class="dropdown-item" href="" routerLink="m_read" (click)="onMrClick()">DONATED DATA</a></li>
            <li><a class="dropdown-item" href="#" routerLink="m_update" (click)="onMuClick()">UPDATE DATA</a></li>
            
          </ul>
    </div>
          
          
      
          
    
      <div class="dropdown">
              <button class=" button7 dropdown dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: aliceblue;" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                  <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
                </svg>&nbsp;&nbsp;FOOD DONATION
              </button>
              <ul class="d3 dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item active" href="" routerLink="f_insert" (click)="onFiClick()">DONATE FOOD</a></li>
                  <li><a class="dropdown-item" href="" routerLink="f_read" (click)="onFrClick()">DONATED DATA</a></li>
                  <li><a class="dropdown-item" href="#" routerLink="f_update" (click)="onFuClick()">UPDATE DATA</a></li>
                </ul>
      </div>
    
      <div class="dropdown">
        <button class=" button8 dropdown dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: aliceblue;" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-heart" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
              </svg>&nbsp;&nbsp;CLOTH DONATION
        </button>
        <ul class="d4 dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item active"  routerLink="cloth_insert" (click)="onCliClick()">DONATE CLOTHES</a></li>
            <li><a class="dropdown-item"  routerLink="cloth_read" (click)="onClrClick()">DONATED DATA</a></li>
            <li><a class="dropdown-item"  routerLink="clothupdate" (click)="onCluClick()">UPDATE DATA</a></li>
          </ul>
    </div>
              
      <img src="\assets\hhc2.jpg" class="hhclogo2" alt="">   
      
    
      </nav>

<div class="mibox1">
<article id="content">
    <div class="wrapper">
      <div class="box1">
        <div class="line1">
          <div class="line2 wrapper">
            <section class="col1">
             <div class="pad_bot1">
                <figure><img src="\assets\page1_img1.jpg" alt=""></figure>
              </div>
              “There is nothing more beautiful than someone who goes out of their way to make life beautiful for others.We can’t help everyone, but everyone can help someone.”</section>
            
            <section class="col1 pad_left1">
              <div class="pad_bot1">
                <figure><img src="\assets\page1_img2.jpg" alt=""></figure>
              </div>
              “Love and kindness are never wasted. They always make a difference. They bless the one who receives them, and they bless you, the giver."</section>
            
              <section class="col1 pad_left1">
              <div class="pad_bot1">
                <figure><img src="\assets\page1_img3.jpg" alt=""></figure>
              </div>
              “When you are kind to someone in trouble, you hope they’ll remember and be kind to someone else. And it’ll become like a wildfire.”
          </section>
        </div>
      </div>
    </div>
    </div>

  </article>
</div>

<img src="\assets\qrcode.jpeg" class="qr" alt="">
<h3 class="scan"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-qr-code" viewBox="0 0 16 16">
  <path d="M2 2h2v2H2V2Z"/>
  <path d="M6 0v6H0V0h6ZM5 1H1v4h4V1ZM4 12H2v2h2v-2Z"/>
  <path d="M6 10v6H0v-6h6Zm-5 1v4h4v-4H1Zm11-9h2v2h-2V2Z"/>
  <path d="M10 0v6h6V0h-6Zm5 1v4h-4V1h4ZM8 1V0h1v2H8v2H7V1h1Zm0 5V4h1v2H8ZM6 8V7h1V6h1v2h1V7h5v1h-4v1H7V8H6Zm0 0v1H2V8H1v1H0V7h3v1h3Zm10 1h-1V7h1v2Zm-1 0h-1v2h2v-1h-1V9Zm-4 0h2v1h-1v1h-1V9Zm2 3v-1h-1v1h-1v1H9v1h3v-2h1Zm0 0h3v1h-2v1h-1v-2Zm-4-1v1h1v-2H7v1h2Z"/>
  <path d="M7 12h1v3h4v1H7v-4Zm9 2v2h-3v-1h2v-1h1Z"/>
</svg>&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hand-index-thumb" viewBox="0 0 16 16">
  <path d="M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 0 0 1 0V6.435l.106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 1 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.118a.5.5 0 0 1-.447-.276l-1.232-2.465-2.512-4.185a.517.517 0 0 1 .809-.631l2.41 2.41A.5.5 0 0 0 6 9.5V1.75A.75.75 0 0 1 6.75 1zM8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v6.543L3.443 6.736A1.517 1.517 0 0 0 1.07 8.588l2.491 4.153 1.215 2.43A1.5 1.5 0 0 0 6.118 16h6.302a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.632 2.632 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002zm2.094 2.025z"/>
</svg>&nbsp;SCAN ME&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-emoji-heart-eyes" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M11.315 10.014a.5.5 0 0 1 .548.736A4.498 4.498 0 0 1 7.965 13a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .548-.736h.005l.017.005.067.015.252.055c.215.046.515.108.857.169.693.124 1.522.242 2.152.242.63 0 1.46-.118 2.152-.242a26.58 26.58 0 0 0 1.109-.224l.067-.015.017-.004.005-.002zM4.756 4.566c.763-1.424 4.02-.12.952 3.434-4.496-1.596-2.35-4.298-.952-3.434zm6.488 0c1.398-.864 3.544 1.838-.952 3.434-3.067-3.554.19-4.858.952-3.434z"/>
</svg></h3>


    <div class="wrapper">
      <h3 class="our"><u class="u">Our Mission</u></h3>
      <p style="font-size: 25px;"><img src="\assets\quot1.png" alt=""> Kindness is the language which the deaf can hear and the blind can see.Donate to the poor.Their happiness is blessing to you.Give your hands to serve and your hearts to love.Making our India rich is everyone's responsibility.Our Helping Hands Club website will provide u the information about charities and value of donation.<img src="\assets\quot2.png" alt=""> </p>
      <p class="quot2">-- HELPING HANDS ARE BETTER THAN PRAYING LIPS!</p>
    </div>
    
    <div class="aa">
      <section class="col1">
       <div class="pad_bot1">
          <figure><img src="\assets\one.jpg" width="300" height="200" alt="" style="padding-right: 10px;"></figure>
        </div>
        </section>
      <section class="col1 pad_left1">
        <div class="pad_bot1">
          <figure><img src="\assets\three.jpg" width="300" height="200" alt="" style="padding-right: 38px;"></figure>
        </div>
        </section>
      
        <section class="col1 pad_left1">
        <div class="pad_bot1">
          <figure><img src="\assets\two.jpg" width="300" height="200" alt=""></figure>
        </div></section></div>

        <div class="wrapper1">
          
  <img src="\assets\quot1.png" alt="">Our mission is to make a positive impact on the lives of individuals and communities in need. We believe in the power of compassion,unity and collective action to create meaningful change.We believe in keeping donors informed about the impact of their contributions, and we provide regular updates on our projects and initiatives.Whether you choose to make a donation, volunteer your time and skills, or spread awareness about our cause, every action you take brings us closer to achieving our shared vision of a more equitable and compassionate world.<img src="\assets\quot2.png" alt="">
 </div>
 <div class="wrapper2">
  <img src="\assets\quot1.png" alt=""> On behalf of this we visited some charities in our local area like Little Hearts Organisation and Raghavendra Charitable Trust.We done this Community Service Project under the guidence of our HOD Sir and Rafi Sir.So, we are very thankful to them.<img src="\assets\quot2.png" alt="">
    </div>

    <div class="wrapper3">
      We thank our college management , principal sir , Hod sir for their support to make our community service project successfull.
    </div>
<router-outlet></router-outlet>


  </body>
