<body>
	<button class="button btn" (click)="onLoginClick()"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-house-heart" viewBox="0 0 16 16">
	  <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.309 8 6.982Z"/>
	  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.707L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.646a.5.5 0 0 0 .708-.707L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
	</svg>&nbsp;LOGIN</button>
  
	<button class="button2 btn" (click)="onsigninClick()"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-house-heart" viewBox="0 0 16 16">
	  <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.309 8 6.982Z"/>
	  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.707L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.646a.5.5 0 0 0 .708-.707L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
	</svg>&nbsp;SIGN IN</button>

	<img src="\assets\neclogo.jpg" class="logo"alt="">
  
	<img src="\assets\nec.jpg" class="nec"alt="">
	
	
	<p class="clg">ıllıllı⭐🌟 N͙A͙R͙A͙S͙A͙R͙A͙O͙P͙E͙T͙A͙ E͙N͙G͙I͙N͙E͙E͙R͙I͙N͙G͙ C͙O͙L͙L͙E͙G͙E͙ 🌟⭐ıllıllı</p>
	
	
  
	<div class="container">
	  <div class="row">
		<div class="col-md-12 text-center">
		  <h3 class="animate-charcter">✶DEPARTMENT OF COMPUTER SCIENCE AND ENGINEERING✶</h3>
		</div>
	  </div>
	</div>
     <img src="\assets\" alt="">
	<section>
	  <div class="content">
		<h2>A Community Service Project On</h2>
		<h2>A Community Service Project On</h2>
	  </div>
	</section>
  
	<p class="help">✴✶  🎀 HELPING HANDS CLUB 🎀  ✶✴</p>
  
  
	
  
  </body>